{
	"regions": {
		"home": {
			"point1": {
				"X" : 1820,
				"Y" : 85,
				"Z" : -1231
			},
			"point2": {
				"X" : 1799,
				"Y" : 74,
				"Z" : -1248
			}
		},
		"dirtjump": {
			"point1": {
				"X" : 2103,
				"Y" : 86,
				"Z" : -966
			},
			"point2": {
				"X" : 2075,
				"Y" : 123,
				"Z" : -945
			}
		}
	}
}
